*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	
}
header img{
	height: 30px;
}
body {
	background-image: url("http://zoozel.ru/gallery/images/1405450_raznocvetnye-treugolniki-fon.jpg");
	height: 100vh;
}
h3{
	font-weight: 900;
}

.MainText{
	text-align: center;
	margin: 50px auto;
	border: 2px solid blue;
	width: 600px;
	background-color: rgba(0,0,255, 0.5);
	border-radius: 20px;
}
form{
	text-align: center;
	width: 250px;
	height: 400px;
	margin: 20px auto;
	background-color: rgba(0,0,200,0.3);
}
form p{
	margin: 20px;
	font-size: 28px;
	font-weight: 500;

}
form input{
	height: 40px;
	background-color:orange;
	padding: 10px;

}
button{
	border: 1px solid black;
	background-color:rgba(0,0,190,0.4);
	font-size: 24px;
	margin-top: 50px;
	padding: 10px;

	}
.w{
}
img{
	border: 1px solid red;

	margin: 25px;
	position: relative;
}
.container{
	margin: 0 auto;
	border: 1px solid red;
	width: 960px;
}
